.container {
    display: flex;
    flex: 100%;
    flex-direction: row;
    /* justify-content: space-around;
    align-items: center; */
    height: 100vh;   
    flex-wrap: wrap;
    background-color: white;
  }
  

  /* .column {
    width: 50%;
    height: 100vh;
  } */

  .columnLeft{
    display: flex;
    flex-direction: column;
    flex: 45%;
    height: 100vh;
    background-color: white;
  }
  
  .columnLeftInner{
    flex: 1;
    display: flex;
    flex-Direction: row;
    background-Color: white;
    justify-Content: flex-end;
    align-Items: center;
  }

  .columnRight{
    display: flex;
    flex-direction: column;
    flex: 55%;
    height: 100vh;
    background-color: white;
    /* width: 50%; */
  } 

  .columnRightUpper{
    flex: 1;
    display: flex;
    flex-Direction: column;
    background-Color: white;
    justify-Content: flex-end;
    align-Items: flex-start;
    width: 80%;
  }

  .columnRightLower{
    flex: .4;
    display: flex;
    flex-Direction: column;
    background-Color: white;
    justify-Content: flex-start;
    align-Items: flex-end;
    width: 80%;
    margin-top: 1rem;
  }
